<settings>

    <setting propertyKey="@Properties.ForegroundColor" title="@Strings.ForegroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x00FFAA">@Strings.ColorSeafoam</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.WeatherUpdatePeriod" title="@Strings.WeatherUpdatePeriodTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Weather1Minute</listEntry>
            <listEntry value="5">@Strings.Weather5Minutes</listEntry>
            <listEntry value="10">@Strings.Weather10Minutes</listEntry>
            <listEntry value="15">@Strings.Weather15Minutes</listEntry>
            <listEntry value="20">@Strings.Weather20Minutes</listEntry>
            <listEntry value="30">@Strings.Weather30Minutes</listEntry>
            <listEntry value="60">@Strings.Weather60Minutes</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.DisplayPrecipitation" title="@Strings.DisplayPrecipitationTitle">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.DisplayConnectionStatus" title="@Strings.DisplayConnectionStatusTitle">
        <settingConfig type="boolean"/>
    </setting>

</settings>
